@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900%dispaly=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan' , sans-serif;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px;
    color: #222;
}
h6{
   font-weight: 700;
    color: #222;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-image: none;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s ease;
}



body{
    width: 100%;
}


/* nav bar */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}


#nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-ul li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
#nav-ul li a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.2s ease;
}
#nav-ul li a:hover{
    color: #088178;
}
#nav-ul li a.active{ 
    color:#088178;
}
#nav-ul li a.active::after, 
#nav-ul li a:hover::after{ 
    content: "";
    width: 30%;
    height: 2px;
    background-color:#19938b;
    position:absolute;
    bottom: -5px;
    left: 20px; 
}
#mobile{
    display: none;
    align-items: center;
}
.fa-shopping-cart{
    inline-size: 50px;
    color: black;
}

#close {
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
}
/*hero section*/

#hero {
    background-image: url("img/hero4.png");
    width: 100%;
    height: 90vh; 
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
    opacity: 0.8;
}
#hero h1{
    color:#088178;
}

button.hero{
    color:#088178;
    background-image: url("img/button.png");
    background-color: transparent;
    border: none;
    padding: 14px 100px 14px 65px;
    font-weight: 700;
    font-size: 15px;
    
 } 

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
 #feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    margin: 15px 0;
 }
 #feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 60, 220, 0.1); 
 }
 #feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
 }
 #feature .fe-box h6{
    display: inline-block;
    padding: 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
 }

 #feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
 }
 #feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
 }
 #feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
 }
 #feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
 }
 #feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
 }

 /* feature section */

 #fe-product {
    text-align: center;
 }
 #fe-product .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
 #fe-product .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    margin: 10px 0px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    transition: 0.2s ease;
    position: relative;
 }
 #fe-product .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
 }
 #fe-product .pro img{
    width: 100%;
    border-radius: 20px;
 }
 #fe-product .pro .des{
    text-align: start;
    padding: 10px 0;
 }
 #fe-product .pro span{
 color: #606063;
 font-size: 12px;
 }
 #fe-product .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
 }
 #fe-product .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
 }
 #fe-product .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
 }
#fe-product .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
} 

#fe-product .pro .cart:hover{
    box-shadow: 0px 0px 15px #cce7d0;
} 
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #fff;
    font-size: 16px;
}
#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: #ef3636;
}

button.n1:hover{
    color: #fff;
    background-image: none;
    background-color: #088178;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    background-image: url("img/banner/b17.jpg");
    min-width: 600px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;

}

#sm-banner h4{
    color: #fff;
    font-size: 28px;
    font-weight: 800; 
}

#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500; 
    padding-bottom: 15px;
}


#sm-banner {
    color: #fff;
    font-size: 14px;
    font-weight: 500; 
    padding-bottom: 15px;
}

button.white-button {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #000;
    background-image: none;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s ease;
}
.banner-box:hover button.white-button{
background-color: #088178;
border: 1px solid #088178;
color: #fff;
}

/* button.white-button:hover {
    color: #fff;
    background-image: none;
    background-color: #088178;
} */

#sm-banner .banner2 {
    background-image: url("img/banner/b10.jpg");
} 
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
    background-image: url("img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 h2{
    color: white;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h4{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}
#banner3 .banner-box2 {
    background-image: url("img/banner/b4.jpg");
}

#banner3 .banner-box3 {
    background-image: url("img/banner/b18.jpg");
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter span{
    color: #ffbd27;
}
#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1p solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;

}
footer p{
    font-size: 14px;
    margin: 0 0 8px 0;

}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
}


/* shop page  */
#shop-hero{
    background-image: url("img/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px; 
}
#shop-hero h2,
#shop-hero p{
    color: #fff;
}

#pagination{
    text-align: center;
}
#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px; 
    font-weight: 600;
}

/* single product */
#prodetails{
    display: flex;
    margin-top: 20px;
 }

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
.sm-img-group{
    display: flex;
    justify-content: space-between;
}
 .sm-img-col{
    flex-basis: 24%;
    cursor: pointer;
 }
 #prodetails .single-pro-details{
    width: 50%;
    padding: 30px;
 }
 #prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
 }
 #prodetails .single-pro-details h2{
    font-size: 26px;
 }
 #prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
 }
 #prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 10px;
 }
 #prodetails .single-pro-details input:focus{
    outline: none;
 }
 #prodetails .single-pro-details button{
    background-color: #088178;
    color: #fff;
 }
 
 #prodetails .single-pro-details span{
    line-height: 25px;
 }
/* single product
.prodetails {
    display: flex;
    flex-direction: column;
}
#prodetails .single-pro-image{
    width: 100%;
    margin-right: 0px;
}
#prodetails .single-pro-details{
    width: 100%;
} */


/* blog page  */
#shop-hero2{
    background-image: url("img/banner/b19.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px; 
}
#shop-hero2 h2,
#shop-hero2 p{
    color: #fff;
}

#blog{
    padding: 150px 150px 0 150px;

}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 11px ;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
} 
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: #088178;
}
#blog .blog-details a:hover::after{
    background-color: #088178;
}

#blog .blog-box h1{
    position: absolute;
    top: -45px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -9;
}

/* about page  */

#shop-hero3{
    background-image: url("img/about/banner.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px; 
}
#shop-hero3 h2,
#shop-hero3 p{
    color: #fff;
}

#about-head {
    display: flex;
    align-items: center;
    
}

#about-head img{
width: 50%;
height: auto;
}

#about-head div{
   padding-left: 40px;
}
#about-app{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}





/* contact page  */

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 #contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-detail form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-detail form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 15px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
} 

#form-detail{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}
#form-detail form{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-detail form input,
#form-detail form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1ee;
}

#form-detail form button{
    background-color: #088178;
    color: #fff;
}

#form-detail .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
} 

#form-detail .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
} 

#form-detail .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
} 

#form-detail .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    } 
/* cart page */
#cart {
    overflow-x: auto;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}

#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #088178;
}

#coupon button,
#subtotal button{
    background-color: #088178;
    color: white;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;

}
#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}















/* start media query */

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #nav-ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: ease 0.3s;
    }
    #nav-ul.active{
        right: 0px;
    }
    #nav-ul li{
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 20px;
    }
    #side-bag{
        display: none;
    }
    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
        padding: 0 80px;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #fe-product .pro-container {
        justify-content: center;
    }
    #fe-product .pro {
        margin: 15px;
    }
    #banner {
        height: 25vh;
    }
    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }
    #banner3 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px;
    }
    #banner3 .banner-box {
     width: 28%; 
    }
/* contact page */

#form-detail {
    padding: 40px;
}
#form-detail form {
    width: 50%;
}

}

@media (max-width:477px) {
    #header {
        padding: 10px 30px;
    }
    h2 {
        font-size: 30px;
    }
    h1 {
        font-size: 38px;
    }

    #hero {
        background-position: 55%;
        padding: 0 20px;
    }
    .section-p1 {
        padding: 20px;
    }
    #feature{
      justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #fe-product .pro {
        width: 100%;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box2 {
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box{
        width: 100%;
    }
    #newsletter .form{
        width: 100%;
    }
    #newsletter {
        padding: 40px 20px;
    }
    footer .copyright {
        text-align: start;
    }
    /* single product */
    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }

/* blog page */
    #blog{
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    }

    #blog .blog-img {
      width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
   
    #blog .blog-details {
        width: 100%;
    }

/* about page */

    #about-head {
        flex-direction: column;
}
    #about-head img {
        width: 100%;
        margin-bottom: 20%;
}
    #about-head div {
        padding-left: 0px;
}
#about-app .video {
    width: 100%;
}
 
/* contact page */
#contact-details {
    flex-direction: column;
}
#contact-details .details {
    width: 100%;
    margin-bottom: 30px;
}
#contact-details .map {
    width: 100%;
}
#form-detail {
    margin: 10px;
    padding: 30px 10px;
    flex-wrap: wrap;
}
#form-detail form{
   width: 100%;
   margin-bottom: 30px;
}
/* cart page; */

#cart-add{
    display: flex;
    flex-direction: column;
}
#coupon {
    width: 100%;
}

#subtotal {
    width: 100%;
    padding: 20px;
}

}